* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

main {
    /* height: 100%; */
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: stretch;
}

h2 {
    color: rgba(243, 217, 83);
}

.cont {
    width: 716px;
    height: 100%;
}

.spcont {
    height: 50%;
}


.blackbg {
    background-color: rgba(0, 0, 0);
    opacity: .5;
}

.skew {
    transform: skew(-15deg);
}

.notskew {
    transform: skew(15deg);
}

#btnB {
    position: absolute;
}

#btnA {
    position: absolute;
    bottom: 0;
    right: 0;
}

#progressbar {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}