* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Russo One";
    font-weight: 400;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../media/general/background2.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 90%;
    position: relative;
}

h2 {
    font-size: 36px;
    color: rgba(243, 217, 83, 1);
    margin: 0;
    padding: 0;
    z-index: 3;
}

.left, .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.black-background-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 700px;
    transform: translate(-50%, -50%) skew(-20deg);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0;
    z-index: 1;
}

.black-background-character {
    position: absolute;
    width: 700px;
    height: 1080px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    transform: skew(-20deg);
}

.character-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 700px;
    height: 100%;
    z-index: 2;
    flex-wrap: wrap;
}


.skew {
    transform: skew(-20deg);
    z-index: 1;
}

.notskew {
    transform: skew(20deg);
}

.char-icon {    
    transform: skew(20deg);
}

#cursor-cont {
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

.cursor {    
    transform: skew(20deg);
    opacity: 0;

    animation: animateCursor 1s alternate infinite;
}

.showcursor {
    opacity: 100;
}

.selected-char-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000%;
    height: 1000%;
}

.title-container {
    position: absolute;
    top: 190px;
    width: 700px;
    text-align: center;
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-container {
    top: 470px;
    right: -87px;
}

.selected-char {
    position: relative;
    width: 300px;
    height: 400px;
    justify-content: center;
    align-items: center;
    display: none;
}

.show-char {
    display: flex;
}

.character {
    position: absolute;
    width: 180%;
    height: auto;
    max-height: 300%;
    object-fit: contain;
}


button:hover {
    transform: scale(1.1); 
}

.bottom-image {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#btnB, #btnA {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#btnB {
    top: 0px;
    left: 0px;
}

#btnA {
    bottom: 0px;
    right: 0px;
}




/* ANIMATION */
@keyframes animateCursor {

    from {
        transform: scale(1); 
    }
    
    to {
        transform: scale(1.1); 
    }

}