* {
    margin: 0;
    padding: 0;
}
body {
    background-image:url("../media/circuit/bg.png");
}
.container {
    max-width: 800px;
    margin: auto;
}
.icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    background: none; 
}
.iconsfila1, .iconsfila2 {
    display: flex;
    justify-content: center; 
    gap: 10px;
}
.icon img {
    width: 150px;
    height: 150px;
    background: none; 
    box-shadow: none; 
    border: none;  
}
button {
    background: none; /* Elimina cualquier fondo */
    border: none; /* Elimina el borde */
    padding: 0; /* Evita rellenos extra */
}

button img {
    display: block; /* Evita márgenes extra alrededor de la imagen */
    background: transparent; /* Asegura transparencia */
}
#copa-champinon {
    display: flex;
}
.circuitos-lista {
    display: none;
    margin-top: 20px;
    justify-content: center;
    gap: 10px;
}
.circuitos-lista button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.circuitos-lista button:hover {
    background-color: #fff700; 
}
.barra img {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}
.hidden {
    display: none;
}
#btnB {
    position: absolute;
    top: 0px;
    left: 0px;
    background: none;
    border: none;
    cursor: pointer;
}

#btnA {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: none;
    border: none;
    cursor: pointer;
}


