* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-image:url("../media/circuit/bg.png");
}
.container {
    max-width: 800px;
    margin: auto;
}
.icons {
    display: flex;
    flex-direction: column; /* Asegura que las filas estén una encima de otra */
    justify-content: center;
    margin: 20px;
}
.iconsfila1, .iconsfila2 {
    display: flex;
    justify-content: center; /* Centra los íconos en la fila */
    gap: 10px; /* Espacio entre los íconos */
}
.icon img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.circuitos-lista {
    display: none;
    margin-top: 20px;
}
.circuitos-lista button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: #444;
    border: none;
    color: white;
    cursor: pointer;
}
.circuitos-lista button:hover {
    background-color: #666;
}
.barra img {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}
.hidden {
    display: none;
}
#btnB {
    position: absolute;
    top: 0px;
    left: 0px;
    background: none;
    border: none;
    cursor: pointer;
}

#btnA {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: none;
    border: none;
    cursor: pointer;
}