* {
    margin: 0;
    padding: 0;
}

main {
    width: 100vw;
    height: 100vh;
    background-image: url("../media/index/bg/index-bg.png");
    background-size: cover;
    background-position: center 25%;
}

footer {
    width: 100vw;
    height: 100vh;
   background-image: url("../media/circuit/bg.png");
    height: 50vh;
    background-size: cover;
    background-position: center 25%;
}

.black_bar {
    height: 7vh;
    width: 100vw;
    background-color: black;
    opacity: 50%;
}

#top_bar {
    position: absolute;
}

#bottom_bar {
    position: relative;
    top: 93vh;
}



/* MEDIA QUERY */

@media screen and (max-width: 512px) {
    
    h1 {
        font-size: 2rem;  
    }

    nav .menu-flex {
        flex-direction: column;
        gap: 1rem;
    }

    h2 {
        display: none;
    }

}