* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Russo One";
    font-weight: 400;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../media/general/background2.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 90%;
    position: relative;
}

h2 {
    font-size: 36px;
    color: rgba(243, 217, 83, 1);
    margin: 0;
    padding: 0;
    z-index: 3;
}

.left, .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.black-background-vehicle {
    position: absolute;
    width: 700px;
    height: 1080px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    transform: skew(-20deg);
}

.black-background-character {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 700px;
    transform: translate(-50%, -50%) skew(-20deg);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0;
    z-index: 0;
}

.vehicle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 400px;
    height: auto;
    text-align: center;
}

.vehicle-background {
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vehicle-name {
    font-size: 36px;
    color: rgba(243, 217, 83, 1);
    text-align: center;
    text-transform: none; 
    width: 100%;
    position: absolute;
    top: 470px;
    left: -25%;
    z-index: 2;
}

.vehicle {
    left: center;
    width: 160%; 
    height: auto;
    max-height: 1000%;
    object-fit: contain;
    z-index: 2;
}

.title-container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%) skew(20deg);
    width: 100%;
    text-align: center;
    z-index: 3;
}

.mario-title {
    transform: none !important;
    color: rgba(243, 217, 83, 1);
    position: absolute;
    top: 470px;
    left: -35%;
    transform: translateX(-50%);
}

.character-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.character-background {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.character {
    position: absolute;
    width: 180%;
    height: auto;
    max-height: 300%;
    object-fit: contain;
}

.arrow:hover {
    transform: scale(1.001);
    transition: transform 0.2s;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 3;
    width: 80px;  
    height: 80px;
}

.left-arrow {
    left: -80px;
}

.right-arrow {
    right: -80px;
}

.arrow img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#btnB, #btnA {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
}

#btnB {
    top: 0px;
    left: 0px;
}

#btnA {
    bottom: 0px;
    right: 0px;
}

button:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease;
}

.bottom-image {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}